/* HOME PAGE */
* {
  margin: 0 auto;
}

nav {
  background-color: lightpink;
  display: flex;
}

a {
  text-decoration: none;
  font-size: 19pt;
  color: #FFFFFF;
  align-items: flex-end;
}

a:hover {
  color: lightblue;
}

.fab {
  color: #000;
}

#hello-container {
  height: 600px;
  background-color: lightblue;
  width: 100vw;
  display: grid;
}

.hello-name {
  color: #000;
  justify-content: center;
  font-family: 'Poiret One';
  font-size: 38pt;
  text-transform: uppercase;
}

/* typewriter effect? */
.hello-title {
  color: #000;
  font-family: 'Poiret One';
  font-size: 25pt;
  align-items: center;
}

#one {
  background: url(../Images/pinkcity.jpeg) fixed;
  background-size: cover;
  height: 300px;
  width: 100vw;
}

#one-inner {
  text-align: center;
  font-size: 30pt;
  color: #FFFFFF;
  padding-top: 150px;
}

#contact {
  background-color: lightblue;
  height: 600px;
}

/* PROJECTS PAGE */
.main-projects-container {
  border: solid #FFFFFF 34px;
}

.grid {
  height: 300px;
  border: solid red;
}

.chronicle-grid {
  border: solid blue;
}

.fa-paw {
   height: 100px;
   width: 100px
   border: solid red;
}

p {
  align-content: center;
  font-family: 'Poiret One';
}
