/* HOME PAGE */
* {
  margin: 0 auto;
}

nav {
  background-color: lightpink;
  display: flex;
}

a {
  text-decoration: none;
  font-size: 19pt;
  color: #FFFFFF;
  align-items: flex-end;
}

a:hover {
  color: lightblue;
}

.fab {
  color: purple;
}

#hello {
  height: 600px;
  background-color: lightblue;
  width: 100vw;
  display: flex;
}

.hello-title {
  color: #F397D6;
  flex: 1;
  font-family: 'Poiret One', cursive;
  font-size: 38pt;
  align-items: center;
  text-transform: uppercase;
}

/* typewriter effect? */
.hello-summary {
  color: #F397D6;
  font-size: 25pt;
  align-items: center;
}

#one {
  background: url(../Images/pinkcity.jpeg) fixed;
  background-size: cover;
  height: 300px;
  width: 100vw;
}

#one-inner {
  text-align: center;
  font-size: 30pt;
  color: #FFFFFF;
  padding-top: 150px;
}

#contact {
  background-color: lightblue;
  height: 600px;
}

#portfolio-highlights {
	display: flex;
}

.highlights {
	background-color: #F397D6;
	z-index: 2;
	flex: 1;
	justify-content: space-around;
	height: 400px;
	width: 250px;
  padding: 10px
}

/* PROJECT PAGE */
.project-header {
  align-items: center;
}

button {
  height: 40px;
  width: 240px;
  background-color: #C2BCCC;
  border: solid #726774;
  margin: 32px;
}

.projects-container {
  display: flex;
  padding: 50px;
}

.projects {
  flex: 1;
  padding: 50px;
}

.project-buttons {
  font-family: "Poiret One", cursive;
  color: #726774;
  font-size: 25px;
}

.project-block {
  flex: 2;
  border: solid pink;
  padding: 35px;
}
